@use "sass:math";

#background-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes animateBubble {
  0% {
    margin-top: 100vh;
  }

  100% {
    margin-top: -100vh;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0vw;
  }

  100% {
    margin-left: 10vw;
  }
}

@for $i from 1 through 15 {
  .x#{$i} {
    $animDuration: math.floor(math.random(15)) + 15;
    $sideDuration: math.floor(math.random(2)) + 2;
    animation: animateBubble #{$animDuration}s linear infinite,
      sideWays #{$sideDuration}s ease-in-out infinite alternate;
    left: math.percentage(math.random() + 0.01);
    top: math.percentage(math.random() + 0.01);
    transform: scale(math.div(math.random(8), 10) + 0.1);
  }
}

.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(126, 246, 255, 0.312);
  height: 200px;
  width: 200px;
  position: absolute;

  &:after {
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, rgba(255, 255, 255, 0.5)),
      color-stop(70%, rgba(255, 255, 255, 0))
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -o-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
    border-radius: 50%;
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
  }
}
