@use "../abstracts/variable.scss" as variable;

footer {
  text-align: center;
  padding: 2.5rem 0;
  background-color: variable.$header-and-footer-background-color;
  color: variable.$header-and-footer-text-color;
}
