@import "./flexbox.scss";
@import "./variable.scss";

main {
    @include flexbox(center, center, row);
    gap: 3%;
    padding: 1rem;
}

.left,
.right {
    flex: 1;
    box-sizing: border-box;
}

.left {
    @include flexbox(center, center, column);
    align-items: flex-end;
    border: #0077b5 solid 1px;

    img {
        display: block;
        width: 800px;
        height: 100%;
        border-radius: 3%;
    }
}

.right {
    @include flexbox(flex-start, flex-start, column);
    border: #1eb500 solid 1px;

    .contact-list {
        list-style: none;
        padding: 1rem 0 0 0;
        line-height: 1.8rem;

        li {
            @include flexbox(flex-start, center, row);
            margin-bottom: 0.5rem;

            svg {
                margin-right: 0.5rem;
                vertical-align: middle;
            }

            svg.bi-youtube {
                color: red;
            }

            svg.bi-linkedin {
                color: #0077b5;
            }
        }
    }
}