// Abstracts (工具類)
@use "./abstracts/variable" as *;
@use "./abstracts/flexbox";

// Base (基礎樣式)
@use "./base/style";
@use "./base/bubble";

// Components (元件)
@use "./components/timeline";

// Layouts (佈局)
@use "./layouts/header";
@use "./layouts/nav";
@use "./layouts/footer";

.main-area {
<<<<<<< Updated upstream
    @include flexbox(center, center, row);
    min-height: 65vh;
=======
  @include flexbox.flexbox(center, center, row);
  min-height: 65vh;
>>>>>>> Stashed changes
}

.left,
.right {
    box-sizing: border-box;
    margin: 1rem;
    flex-basis: 500px;
}

.left {
<<<<<<< Updated upstream
    @include flexbox(center, center, row);
=======
  @include flexbox.flexbox(center, center, row);
>>>>>>> Stashed changes

    img {
        display: block;
        width: 70%;
        height: auto;
        border-radius: 3%;
    }
}

.right {
<<<<<<< Updated upstream
    @include flexbox(center, flex-start, column);
=======
  @include flexbox.flexbox(center, flex-start, column);
>>>>>>> Stashed changes

    h2 {
        font-size: 1.2rem;
        line-height: $line-height;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }

    svg {
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    svg.bi-youtube {
        color: red;
    }

    svg.bi-linkedin {
        color: #0077b5;
    }
}

section.progress-bar-area {
    background-color: rgb(199, 241, 255);
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .skill-progress-area {
        width: 80%;

    }
}