@import './variable.scss';

@font-face {
    font-family: 'Chiayi City Font';
    src: url(../font/ChiayiCity.ttf);
}

body {
    font-family: 'Chiayi City Font';
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: $h1-font-weight;
    margin-bottom: 1rem;
}